version: "3.4"

# Production environment override
services:
  php:
    environment:
      APP_ENV: prod
      APP_DEBUG: false

  caddy:
    volumes:
      - ./api/docker/caddy/CaddyfileProd:/etc/caddy/Caddyfile:ro
