api_platform:

    title: Hello API Platform
    version: 1.0.0
    # Mercure integration, remove if unwanted
    mercure: ~
    # Good cache defaults for REST APIs
    defaults:
        resource: .
        stateless: true
        cache_headers:
            vary: ['Content-Type', 'Authorization', 'Origin']
        route_prefix: /api

    swagger:
        api_keys:
            JWT:
                name: Authorization
                type: header
    
    formats:
        json:     ['application/json']
        jsonld:   ['application/ld+json']
        xml:      ['application/xml', 'text/xml']
        yaml:     ['application/x-yaml']
        csv:      ['text/csv']
        html:     ['text/html']
        myformat: ['application/vnd.myformat']

