name: Deploy Netlify 

on:
  push:
    branches:
      - feat/testBuild
    paths:
      - 'thematic-front/**'
      - '.github/workflows/deploy.yml'
  
jobs:
  build-test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./thematic-front

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16
      
      - name: Install dependancies
        run: npm ci

      - name: Build
        run: npm run build

      - name: Run unit tests
        run: npm test


  deploy:
      runs-on: ubuntu-latest

      needs: build-test # permet de definir que le Job nommé doit fonctionner avant de lancer celui là

      steps:
        - uses: actions/checkout@v3
        - uses: actions/setup-node@v3
          with:
            node-version: 16
        
        - name: Install dependancies
          run: cd ./thematic-front && npm ci

        - name: Build
          run: cd ./thematic-front && npm run build && mv dist ../
        - name: Deploy to Netlify
          uses: nwtgck/actions-netlify@v1.2
          with:
            publish-dir: 'dist'
            deploy-message: "Deploy from GitHub Actions"
            enable-pull-request-comment: false
            enable-commit-comment: true
            overwrites-pull-request-comment: true
          env:
            NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
            NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}