name: Test Deploy Heroku

on:
  push:
    branches:
      - dev
      - feature/deploy
  
jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16
      
      - name: Install dependancies
        run: npm i

      - name: Build
        run: npm run build

#     - name: Run unit tests
#       run: npm test

  deploy:
    runs-on: ubuntu-latest

#    needs: build-test # permet de definir que le Job nommé doit fonctionner avant de lancer celui là

    steps:
      - uses: actions/checkout@v3
      - uses: akhileshns/heroku-deploy@v3.12.12
        with:
          heroku_api_key: ${{secrets.HEROKU_TOKEN}}
          heroku_app_name: "cquoicepoulet" #Must be unique in Heroku
          heroku_email: "best_of21+1@live.fr"
          team: "challengeweek"


  # publish:
  #   runs-on: ubuntu-latest

  #   needs: build-test

  #   steps:
  #     - uses: actions/checkout@v3

  #     - name: Set up QEMU
  #       uses: docker/setup-qemu-action@v2

  #     - name: Set up Docker Buildx
  #       uses: docker/setup-buildx-action@v2

  #     - name: Login to DockerHub
  #       uses: docker/login-action@v2
  #       with:
  #         username: ${{ secrets.DOCKERHUB_USERNAME }}
  #         password: ${{ secrets.DOCKERHUB_THEMATIQUE_TOKEN }}

  #     - name: Build and push
  #       uses: docker/build-push-action@v3
  #       with:
  #         push: true
  #         platforms: linux/amd64,linux/arm64
  #         tags: ${{ secrets.DOCKERHUB_USERNAME }}/cquoicepoulet:latest